   
    <div class="container"> 
        <app-sidebar class="sidebar"></app-sidebar>
        <div *ngIf="loading" class="loading">Loading...</div>
        <div *ngIf="errorMessage" class="errorMessage">{{errorMessage}}</div>
        <div class="wrapper" *ngIf="!loading && !errorMessage">
            <h1 class="title">Trending</h1>
            <div class="trending__wrapper">
                <app-trending-item *ngFor="let trendingFilm of films; let i = index " [index]="i" [trendingFilm]="trendingFilm" ></app-trending-item>
                
            </div>
            <h2 class="title">Recommended for you</h2>
            <div class="recommend__wrapper">
                <app-film-item *ngFor="let regularFilm of films; let i = index " [films]="films"   [regularFilm]="regularFilm"></app-film-item>
            </div>
        </div>
    </div>

